<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{site.title}}{% if page.title %} - {{ page.title }}{% endif %}</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% else %}
    <meta name="description" content="{{ site.description }}">
    {% endif %}
	{% if page.categories %}
	<meta name="keywords" content="{{page.categories | join: ','}},{{site.keywords | join: ','}}" />
	{% else %}
    <meta name="keywords" content="{{site.keywords | join: ','}}" />
	{% endif %}
	{% if page.date %}
    <meta http-equiv="date" content="{{page.date |date: '%A, %d  %Y %H:%M:%S GMT'}}" />
	{% endif %}
    <meta name="robots" content="INDEX,FOLLOW" />
    
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.2.2.2.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">

    <style type="text/css">
      @media (max-width: 767px) {
        .hidden-phone {
          display: none !important;
        }
      }
    </style>

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">
    
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="{{ ASSET_PATH }}/bootstrap/js/bootstrap.js"></script>
  </head>

  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="{{ HOME_PATH }}" style="padding-left: 0;">{{ site.title }}</a>
          <ul class="nav pull-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>
              <ul class="dropdown-menu">
            	{% assign pages_list = site.pages %}
            	{% assign group = 'navigation' %}
            	{% include JB/pages_list %}
              </ul>
            </li>
          </ul>
          <ul class="nav">
          	<li><a href="/">Home</a></li>
            {% assign pages_list = site.pages %}
            {% assign group = 'main_nav' %}
            {% include JB/pages_list %}
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3 hidden-phone">
          <div class="well" style="padding: 8px 0;">
            <ul class="nav nav-list">
              <li class="nav-header">Posts</li>
              {% for post in site.posts limit: 5 %}
                {% if page.url == post.url %}
                <li class="active">
                {% else %}
                <li>
                {% endif %}
                  <a href="{{ post.url }}">{{ post.title }}</a>
                </li>
              {% endfor %}
              
              <li class="nav-header">Pages</li>
              {% for a_page in site.pages %}
                {% if a_page.group != 'navigation' and a_page.group != 'feeds' %}
                  {% if page.url == a_page.url %}
                  <li class="active">
                  {% else %}
                  <li>
                  {% endif %}
                    <a href="{{ a_page.url }}">{{ a_page.title }}</a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="span9">
          <div class="content">
            {{ content }}
          </div>
        </div>
      </div>

      <div class="row-fluid">
        <hr>
        <footer>
          <p>&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}.</p>
        </footer>
      </div>
    </div>

    {% include JB/analytics %}
  </body>
</html>
